body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    height:auto;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
}

label{
    display:block;
    font-size: 20px;
    color: rgb(87, 87, 87);
}

input{
    display: block;
    height: 50px;
    width: 350px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
}

textarea{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    width: 350px;
}

h1{
    font-size: 36px;
}

input[type=button]{
    background: #000000;
    color: white;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 2px 4px 5px #444;
    margin: 5px 3px;
    opacity: 0.6;
    transition: 0.3s;
}

input[type=button]:hover{
    background: #ffffff;
    color: rgb(0, 0, 0);
    opacity: 1;
}

#clear {
    height: 35px;
    font-size: 15px;
    width: 100px;
    border-radius: 0;
}

#date{
    color: black;

}

#temp{
    color: black;
}

#content{
    color: black;
}

.result {
    margin-bottom: 20px;
}

.entryHolder {
    background-color: rgb(235, 235, 235);
    margin-top: 40px;
    padding-bottom: 15px;
    height: auto;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #a1a1a1; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 